div{
	background-color:red;
	font-size: 20px;
	padding:0 20px;
}
section{
	padding:0 10px;
	font-size: 21px;
	color: white;
}

footer{
    position: relative;
    bottom: 0px;
    left:0px;
    padding:0px 10px;
    background-color: black;
    color:white;
    margin-top:25px;
    text-align: center;
    min-height: 100px;
}


.header{
    margin:0 auto;
}
.Head-content{
    margin:0 auto;
    font-size: 50px;
    text-align: center;
}

.navbar{
    text-align: center;
    background-color: black;
}
.navbar ul{
    text-decoration: none;
  
}

.navbar ul li{
    margin: 0 20px;
    font-size: 20px;
    display: inline;
}

.navbar ul li a{
    color:white;
    text-decoration: none;
}

.navbar ul li a:hover{
    color:white;
    background-color: red;
    
}
.sectionContainer{
    min-height: 800px;
}

.centerBar{
	float:left;
    width:calc(66% - 20px);
	font-size: 20px;
}

.SideArea{
    width: calc(34% - 20px);
    float:right;
	font-size:35px;
}
.clearFloat{
    clear:both;
}