.header{
    margin:0 auto;
}
.Head-content{
    margin:0 auto;
    font-size: 50px;
    text-align: center;
}

.navbar{
    text-align: center;
    background-color: black;
}
.navbar ul{
    text-decoration: none;
  
}

.navbar ul li{
    margin: 0 20px;
    font-size: 20px;
    display: inline;
}

.navbar ul li a{
    color:white;
    text-decoration: none;
}

.navbar ul li a:hover{
    color:white;
    background-color: red;
    
}
.sectionContainer{
    min-height: 700px;
}

.centerBar{
float:left;
    width:66%;
}

.SideArea{
    width:34%;
    float:right;
}
.clearFloat{
    clear:both;
}
.footerArea{
    position: relative;
    bottom: 0px;
    left:0px;
    padding:0px 10px;
    background-color: black;
    color:white;
    margin-top:25px;
    text-align: center;
    min-height: 100px;
}